<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/template-layout.html}"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div class="bottom" layout:fragment="content"
     th:utext="|Hello ${roleName}, <br/><br/>
     A new user verification request has been generated. Below are the details:<br/><br/>

     <strong>Name:</strong> ${name} <br/>
     <strong>Staff ID:</strong> ${staffId} <br/>
     <strong>Token:</strong> ${token} <br/><br/>

     Please review and take the necessary action.|">
</div>

</html>
